.margin-lg {
    margin: 50px
}
.margin-md {
   margin: 25px
}
.margin-sm {
   margin: 5px
}
.padding-sm {
    padding: 5px
}
.padding-md {
    padding: 25px
}
.padding-lg {
    padding: 50px
}
    body {
        padding-top: 50px;
        padding-bottom: 20px;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.scroll {
}

scroll:-webkit-scrollbar {
    width: 10px;
}

/* Track */
scroll:-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
scroll:-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    scroll:-webkit-scrollbar-thumb:hover {
        background: #555;
    }