@model BugTracker.Models.ProjectandUsers

@using BugTracker.Helpers
@{
    ViewBag.Title = "Home Page";
}

<div style="min-height: 75vh; text-align: center" class="jumbotron">
    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
    {
        {
            var stat = "";
            if (User.IsInRole("Admin"))
            {
                stat = "Admin";
            }
            else
            {
                stat = "Project Manager";
            }

            <h1>@Html.Raw(stat) Portal</h1>
        }
        <div class="container">
            <div class="row">
                <div class="col-md-6 well">
                    @Html.Partial("_ShowUsers", Model.Users.ToList());
                </div>

                <div class="col-md-6 well">
                    @Html.Partial("_ShowProjects", Model.Projects.ToList());
                </div>
            </div>
        </div>
    }
    else if (User.IsInRole("Submitter") || User.IsInRole("Developer"))
    {
        <div class="col-md-6 well">
            @Html.Partial("_ShowProjects", Model.Projects.ToList());
        </div>
    }
    else
    {
        <h1>Welcome</h1>
        <h3>Please Login</h3>
    }

</div>