@model IEnumerable<BugTracker.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h1 style="text-align: center">Archived Projects</h1>
<div style="display: flex; justify-content: center">
    <div style="width: 60vw">
        @Html.Partial("_ShowProjects", Model.ToList())
    </div>
</div>

