@model BugTracker.Models.Project
@using BugTracker.Helpers
@{
    ViewBag.Title = "Details";
}


<div style="text-align: center">
    <h4>
        @Model.Name 
        @if (!Model.Archived || User.IsInRole("Admin"))
        {
        <a href=@Url.Action("Edit", "Projects", new { id = Model.Id }, null) class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
        }
    </h4>
    <p>@Model.Description</p>
    <hr />
    <div style="align-items: center" class="col-md-10 col-md-offset-1">
        @{
            ProjectHelper projhelp = new ProjectHelper();
            var Users = projhelp.UsersOnProject(Model.Id);
        }
        @Html.Partial("_ShowUsers", Users.ToList())

        @Html.Partial("_ShowTickets", Model.Tickets.ToList())
    </div>
</div>

